WeavingPayrollApp/src/META-INF/wsdl/localhost_8080/WeavingPayrollServer/EmployeeService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://controllers.weavingpayrollserver.slu.edu.ph/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controllers.weavingpayrollserver.slu.edu.ph/">

<xs:element name="getAllEmployees" type="tns:getAllEmployees"/>

<xs:element name="getAllEmployeesResponse" type="tns:getAllEmployeesResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="timeIn" type="tns:timeIn"/>

<xs:element name="timeInResponse" type="tns:timeInResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllEmployees">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllEmployeesResponse">
<xs:sequence>
<xs:element name="return" type="tns:employee" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="birthday" type="xs:dateTime" minOccurs="0"/>
<xs:element name="clockedIn" type="xs:boolean"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="hireDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="middleName" type="xs:string" minOccurs="0"/>
<xs:element name="monthlyPay" type="xs:double"/>
<xs:element name="pagIbigContribution" type="xs:double"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="philhealthContribution" type="xs:double"/>
<xs:element name="sssContribution" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timeIn">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="timeInResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>