WeavingPayrollApp/src/META-INF/wsdl/localhost_8080/WeavingPayrollServer/EmployeeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controllers.weavingpayrollserver.slu.edu.ph/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controllers.weavingpayrollserver.slu.edu.ph/" name="EmployeeService">
<types>
<xsd:schema>
<xsd:import namespace="http://controllers.weavingpayrollserver.slu.edu.ph/" schemaLocation="http://localhost:8080/WeavingPayrollServer/EmployeeService?xsd=1"/>
</xsd:schema>
</types>
<message name="timeIn">
<part name="parameters" element="tns:timeIn"/>
</message>
<message name="timeInResponse">
<part name="parameters" element="tns:timeInResponse"/>
</message>
<message name="getAllEmployees">
<part name="parameters" element="tns:getAllEmployees"/>
</message>
<message name="getAllEmployeesResponse">
<part name="parameters" element="tns:getAllEmployeesResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="EmployeeService">
<operation name="timeIn">
<input wsam:Action="http://controllers.weavingpayrollserver.slu.edu.ph/EmployeeService/timeInRequest" message="tns:timeIn"/>
<output wsam:Action="http://controllers.weavingpayrollserver.slu.edu.ph/EmployeeService/timeInResponse" message="tns:timeInResponse"/>
</operation>
<operation name="getAllEmployees">
<input wsam:Action="http://controllers.weavingpayrollserver.slu.edu.ph/EmployeeService/getAllEmployeesRequest" message="tns:getAllEmployees"/>
<output wsam:Action="http://controllers.weavingpayrollserver.slu.edu.ph/EmployeeService/getAllEmployeesResponse" message="tns:getAllEmployeesResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://controllers.weavingpayrollserver.slu.edu.ph/EmployeeService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://controllers.weavingpayrollserver.slu.edu.ph/EmployeeService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="EmployeeServicePortBinding" type="tns:EmployeeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="timeIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmployeeService">
<port name="EmployeeServicePort" binding="tns:EmployeeServicePortBinding">
<soap:address location="http://localhost:8080/WeavingPayrollServer/EmployeeService"/>
</port>
</service>
</definitions>